:root {
  font-family: Inter, Arvo, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.b-line {
  border-bottom-width: .5px;
}

.fade {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.flow {
  opacity: 0;
  transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  width: 507.195px;
  height: 0px;
  transition: opacity 0.3s, transform 0.3s;
}